@model ProductCreateDto
@{
    ViewData["Title"] = "Nuevo producto";
    DataCollection<StoreDto> stores = ViewBag.Stores;
}

<h1>@ViewData["Title"]</h1>

<p>Página de creación de productos</p>

<form asp-controller="Product" asp-action="Create" method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Nombre del producto">
        <span asp-validation-for="Name" class="text-danger text-help"></span>
    </div>

    <div class="form-group">
        <label>Descripción</label>
        <textarea asp-for="Description" class="form-control" placeholder="Descripción del producto"></textarea>
        <span asp-validation-for="Description" class="text-danger text-help"></span>
    </div>

    <div class="form-check form-check-inline">
        @foreach (var store in stores.Items)
        {
            <input name="Stores" class="form-check-input" type="checkbox" id="inlineCheckbox@(store.StoreId)" value="@store.StoreId" />
            <label class="form-check-input" for="inlineCheckbox@(store.StoreId)">@(store.Name)</label>
        }
    </div>

    <div class="form-group form-check">
        <input asp-for="IsEnabled" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Marcar como habilitado</label>
        <span asp-validation-for="IsEnabled" class="text-danger text-help"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>